Repository ligato/cn-infra, pull requests merged in 2019-02, with the labels that each got.

#372 Auth support for gRPC plugin and minor cleanup
  Gopkg.lock
  agent/agent.go
  datasync/resync/plugin_api_resync.go
  db/keyval/bolt/updates.go
  examples/datasync-plugin/main.go
  examples/grpc-plugin/grpc-client/main.go
  examples/grpc-plugin/grpc-server/main.go
  examples/grpc-plugin/insecure/insecure.go
  examples/simple-agent/agent.go
  infra/infra.go
  logging/log_api.go
  logging/logrus/registry.go
  rpc/grpc/auth.go
  rpc/grpc/options.go
  rpc/grpc/plugin_api_grpc.go
  rpc/grpc/plugin_impl_grpc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/auth/DOC.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/auth/auth.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/auth/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/auth/metadata.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/util/metautils/DOC.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/util/metautils/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/util/metautils/nicemd.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/util/metautils/single_key.go
Labels: ⚡️ feature

#373 Propagate resync and data-change events with context.
  datasync/events.go
  datasync/grpcsync/msgservice.go
  datasync/kvdbsync/change_event.go
  datasync/kvdbsync/local/local_bytes_txn.go
  datasync/kvdbsync/local/local_proto_txn.go
  datasync/kvdbsync/watch_impl.go
  datasync/restsync/http_handlers.go
  datasync/syncbase/events.go
  datasync/syncbase/msg/change_event.go
  datasync/syncbase/watcher.go
  datasync/syncbase/watcher_test.go
  db/keyval/bolt/bolt.go
  db/keyval/bolt/integration_test.go
  db/keyval/bytes_broker_api.go
  db/keyval/consul/txn.go
  db/keyval/etcd/bytes_txn_impl.go
  db/keyval/etcd/doc.go
  db/keyval/etcd/etcd_integration_test.go
  db/keyval/etcd/etcd_suite_test.go
  db/keyval/kvproto/proto_txn_impl.go
  db/keyval/proto_broker_api.go
  db/keyval/redis/bytes_suite_test.go
  db/keyval/redis/bytes_txn_impl.go
  examples/bolt-plugin/main.go
  examples/etcd-lib/editor/editor.go
  examples/redis-lib/simple/simple.go
Labels: :exclamation: WIP [don't merge], 🔧 enhancement

#375 Add tutorials
  docs/README.md
  docs/_config.yml
  docs/tutorials/01_hello-world.md
  docs/tutorials/02_plugin-deps.md
  docs/tutorials/03_rest-handler.md
  docs/tutorials/04_kv-store.md
  docs/tutorials/README.md
  examples/tutorials/01_hello-world/main.go
  examples/tutorials/02_plugin-deps/helloworld.conf
  examples/tutorials/02_plugin-deps/main.go
  examples/tutorials/03_rest-handler/main.go
  examples/tutorials/04_kv-store/etcd.conf
  examples/tutorials/04_kv-store/main.go
  examples/tutorials/04_kv-store/model/model.pb.go
  examples/tutorials/04_kv-store/model/model.proto
  examples/tutorials/README.md
Labels: 📜 docs & examples

#376 Add tutorials
  docs/tutorials/04_kv-store.md
  examples/tutorials/01_hello-world/main.go
  examples/tutorials/02_plugin-deps/main.go
  examples/tutorials/03_rest-handler/main.go
  examples/tutorials/04_kv-store/main.go
Labels: 📜 docs & examples
